<div class="row">
  <div class="col-lg-12">
    Logged User: <%= assigns[:user].name %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div id="phaser-example" />
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div id="messages"></div>
    <input id="chat-input" type="text"></input>
  </div>
</div>
